

.carousel-item-home {
    height: 100%;
    min-height: 300px;
    max-height: 500px;
    overflow: hidden;
    /*max-height: 45rem;*/
}
.carousel-item-home-img {
    object-fit: cover;
    min-height: 36em;
    max-height: 45em;

}

/*.carousel-item.pic1 {
    background-image: url(../img/hero_bike_one.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
}

.carousel-item.pic2 {
    background-image: url(../img/hero_bike_two.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
}

.carousel-item.pic3 {
    background-image: url(../img/hero_work_one.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
}
*/


.carousel-inner.header>.item {
  /*disables white flash*/
  -webkit-transition: -webkit-transform .4s ease-in-out;
  -o-transition: -o-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-inner.header {
  /*just incase the flash (style above) comes back*/
  background: rgb(37, 37, 37);
}



  .carousel-inner.header>.item {
    /*disables white flash*/
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
