

/* GLOBAL
******************************************************************************/

html,body {
    /* border: 1px solid #900; */
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: #252525 !important;
    color: #d6e5e3 !important;
}

a {
    color: #fff ;
    text-decoration: none !important;
    background-color: transparent !important;
}
a:hover {
    color: #f26630;
    text-decoration: underline;
}

.darknavitem {
    color: #fff;
    font-size: 1.2rem;
}
a.darknavitem:hover, button.darknavitem:hover {
  color: #707070 !important;
}


pre { color: #090 !important; }

.green-divider{
  background-color: #005a30;
  height: .3em;
  margin-top: 5em;
}



h1,h2,h3,h4,h5,h6 { font-family: 'Lato', sans-serif !important; font-weight: 500; line-height: normal;}
h3.callout, h4.callout { font-weight: normal; }



.dark-green { color: #337357 !important; }
.light-green { color: #6d9f71 !important; }
.tan { color: #f4f3e7 !important; }


/* apply to parent to align children center vertically */
.vertical-center-parent {
    display: flex;
    align-items:center;
}
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}






/* TRAIL STATUS
******************************************************************************/


.tinyTrailStatusDot {
    height: .95rem;
    width: .95rem;
    vertical-align: -.15rem;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.tinyTrailStatusTitle {}
.tinyTrailStatusUpdated {
    color:#666;
}

/*  MARKED FOR DELETION  */
/* make closed circles obvious regardless of color blindness */
.bg-success,.bg-warning,.bg-danger {
    position:relative;
    color: #252525;
}
.tinyTrailStatusDot.bg-success:after {
    font-size: .40em;
    left:3px;
    position:absolute;
    top:1px;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    font-weight: 600;
}
.tinyTrailStatusDot.bg-warning:after {
   content: "!";
   font-size: .70em;
   left:6px;
   position:absolute;
   top:0px;
   font-weight: normal;
}
.tinyTrailStatusDot.bg-danger:after {
   content: "✕";
   font-size: .50em;
   left:4px;
   position:absolute;
   top:2px;
   font-weight: bold;
}



.tinyTrailStatusIcon {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    padding-right: 3px;
}
.tinyTrailStatusIcon.success {
    color: #28a745;
}
.tinyTrailStatusIcon.warning {
    color: #ffc107;
    font-size: 0.9rem;
    padding-left: 1px;
    padding-right: 3px;
}
.tinyTrailStatusIcon.danger {
    color: #dc3545;
}



/* trail status in the header of the trail pages */

.headerTrailStatus  {
    margin: 14px 0;
}
.headerTrailStatus .trail-status-rect {
    color: white;
    padding: 6px 14px;
}
.headerTrailStatus .difficulty {
    width: 38px;
    height: 38px;
}
.headerTrailStatus .table {
    margin:0 !important;
}
.headerTrailStatusUpdated {
    margin-left: 10px;
    color:#888;
}


.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    line-height: 18px;
    color:#888;
    padding: .1rem;
}

.headerTrailStatus .external-links a {
    margin-right: 10px;
    margin-bottom: 5px;
}




/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}





/* Trail status
******************************************************************************/

.trail-status-wrapper {
    background-color: rgb(37, 37, 37);
    position: relative;
}
.trail-status-mobile-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.trail-status-mobile-btn i {
    font-size: 130%;
    color: rgba(255,255,255,.5);
}
.trail-status-mobile-btn i.fa-mobile {
    font-size: 2.5em;
}




/* Trails landing page
******************************************************************************/


.trail-card {
  background-color: rgba(5,5,5,.4) !important;
}

.trail-card .card-body{
  padding:17px;
  padding-top:15px;
}

.trail-card .difficulty {
    width: 18px;
    height: 18px;
    display: inline-block;
}


/* FORM ELEMENTS
******************************************************************************/

.btn {
    white-space:normal !important; /* make buttons wrap */
}
.btn, button, input, .form-control {
    border-radius: 0;
}
.btn:focus, .btn:active {
    border-color: transparent !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255, 0.25) !important;
}

.btn-primary {
    background-color: #575757 !important;
    border-color: #575757 !important;
    color: #fff !important;
}
.btn-primary:hover {
    background-color: #f26630 !important;
    border-color: #f26630 !important;
    color: #fff !important;
}
.btn-secondary {
    background-color: #6d9f71 !important;
    border-color: #6d9f71 !important;
    color: #fff !important;
}
.btn-secondary:hover {
    background-color: #5b9060 !important;
    border-color: #5b9060 !important;
    color: #fff !important;
}
.btn-info {
    background-color: transparent !important;
    color: #fff !important;
    border: 3px solid #fff !important;
}
.btn-info:hover {
    background-color: transparent !important;
    color: #eee !important;
    border: 3px solid #ddd !important;
}


.btn-primary.orange {
  background-color: rgb(242, 102, 48) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary.orange:hover {
  background-color: rgb(200, 58, 0) !important;
}








.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa; }
  .btn-outline-light:hover {
    color: #f8f9fa;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
  .btn-outline-light:focus, .btn-outline-light.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
/*  .btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent; }
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
  .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-light.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
              box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }*/








/* HEADER / NAVBAR
******************************************************************************/

.main-nav {

}
.navbar {
    margin: 0 auto 0;
    background-color: #202020;
}
.navbar-brand {
	height:100%;
}
.navbar a {
    /* color: #347458 !important;
    text-decoration: none !important;
    background-color: transparent !important; */

    line-height: 1.4rem;
}

.bg-primary {
    background-color: #fff !important;
}


.nav-link-shop { padding-right: 10px; }




.navbar-nav>.menu-item {
    font-size: 18px;
    padding: 10px 6px;
}
.dropdown-menu {
  top: 80%;
}



/* PHONE / DEFAULT >= 0px  */
@media (min-width: 0px) {
    .header-logo {
        width: 150px !important;
    }
    .navbar .btn-primary {
        padding:5px 7px;
        font-size:80%;
        line-height: 1rem;
    }
}
/* >= 576px  */
@media (min-width: 576px) {
    .header-logo {
        width: 260px !important;
    }
    .navbar .btn-primary {
        line-height: 1.4rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        padding:8px 16px;
    }
}
/* >= 768px && <= 992px  */
@media (min-width: 768px) and (max-width: 992px) {
    .header-logo {
        width: 170px !important;
    }
    .navbar-nav>.menu-item { padding: 3px; font-size: 80%; }
    .navbar .btn-primary {
        padding:4px 5px;
        font-size:90%;
        line-height: 1.2rem;
    }
}
/* >= 992px  */
@media (min-width: 992px) {
}
/* >= 1200px  */
@media (min-width: 1200px) {
}



/* add submenu to hamburger */
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}



@media only screen and (min-width: 768px) {
    /* make page dropdown parents into a link */
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .header-search-btn {
        margin-right: 10px;
    }
    .header-join-btn {
        /* margin-left: 20px; */
    }
}

a.menu:after, .dropdown-toggle:after {
   /* content: none;*/ /* hide dropdown arrows */
}


/* search show/hide */
.headerSearchDiv {
    position: absolute;
    width: 300px;
    right: 15%;
    top: 80px;
    z-index: 1;
    display: none;
}
.headerCloseSearch {
    margin: -27px auto auto 270px;
    z-index: -10;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(109, 159, 113, 0.25);
}



.om-breadcrumb {
    margin: 0 0 20px 0;
}
.om-breadcrumb a {
    color: #f26630 !important;
}





/* HERO
******************************************************************************/
.hero-light {
    color: #fff;
    height: 700px;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero-content {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.hero-title-btn {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.vertical-center-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.text-page-image-header {
    height:300px;
    background-size: cover, contain;
    background-repeat:no-repeat;
    background-position: center center;
}




/* NUMBER ROW
******************************************************************************/

.wrapper-dark {
    background-color: #252525;
    color: #f4f3e7;
    font-family: 'Lato', sans-serif !important;
}
@media (min-width: 0px) {
    .number-row-number { font-size: 1.4rem; font-weight: bold; }
    .number-row-text { font-size: .6rem; }
}
@media (min-width: 576px) {
    .number-row-number { font-size: 2.4rem; font-weight: bold; }
    .number-row-text { font-size: .8rem; }
}
@media (min-width: 768px) {
    .number-row-number { font-size: 4.4rem; font-weight: bold; }
    .number-row-text { font-size: 1.2rem; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}


.wrapper {
  padding: 20px 0; }

.wrapper-hero {
  padding: 0px !important; }


.wrapper-dark-grey {
    background-color: #222;
    color: #ffffff;
    font-family: 'Lato', sans-serif !important;
}
.wrapper-dark-green {
    background-color: #337357;
    color: #ffffff;
    font-family: 'Lato', sans-serif !important;
}
.wrapper-dark-green a {
    color: #f4f3e7 !important;
}
.wrapper-light-green {
    background-color: #6d9f71;
    color: #ffffff;
    font-family: 'Lato', sans-serif !important;
}
.wrapper-tan {
    background-color: #f4f3e7;
    color: #337357;
    font-family: 'Lato', sans-serif !important;
}
.wrapper-signup-section {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lato', sans-serif !important;
}





.callout {
  background-color: rgb(242, 102, 48);
  text-align: center;
  min-height: 90px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-size: 1.3rem;
}
.donate-callout {
  background-color: rgb(242, 102, 48) !important; /* orange */
}
.signup-callout {
  background-color: #252525;
}
.callout-btn, .signup-callout .btn {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 10px;
    color: #fff;
    vertical-align: 3px;
}
.signup-callout input[name="EMAIL"] {
    padding: 5px 6px;
    vertical-align: -2px;
    margin: 2px 8px;
    color: #ccc;
}






.circle-callout-image img {
    border-radius: 50%;
}
.circle-callout-text {
    margin-top: 10px;
}

.callout-wrapper-light-green {
    background-color: #6d9f71;
    color: #ffffff;
    padding: 0 0 20px 0;
}
.callout-wrapper-light-green img {
    width:100%;
}
.callout-image, .callout-image img { padding: 0; }
.callout-text { margin: 20px 0; }
.btn-callout {  }


@media (min-width: 0px) {
    .callout-wrapper-light-green {
        margin: 10px 0;
    }
}
@media (min-width: 576px) {
    .btn-callout  { font-size: .7rem; }
}
@media (min-width: 768px) {
    .btn-callout  { font-size: 1rem; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}



.wrapper-news-section {
    background-image: url(../img/bg-topo.png);
    background-color: #153040;
}
.wrapper-news-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    /* vertical align center */
    display:flex;
    align-items:center;
}
.wrapper-news-section .btn {
    margin: 20px 12px;
}
.wrapper-news-section a, .wrapper-news-section a:visited {
    color:#fff !important;
}



/* SIDEBAR
******************************************************************************/











/* CALENDAR > SEE SEPARATE CSS
******************************************************************************/


.section-events-image {
    /*background-image: url("../img/Protect-Monarch-Butterflies-1500w.jpg");*/
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.event-section {
    color:#fff;
}
.event-link {
    display: block;
    text-decoration: none;
}
.date-event {
    margin-top: 20px;
    color: #fff;
}
.date-box {
    background-color: #337357;
    color: #fff;
    padding: 6px 0 18px 0;
    width: 60px;
    margin:0 auto 6px;
    margin-right: 200px;
}
.date-day {
    font-size: 2rem !important;
    line-height: 2.5rem;
    color: #fff;
}
.date-month {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #fff;
}
.event-title {
    color: #fff !important;
    font-size: 1.2rem;
}
.event-content {
    color: #f4f3e7 !important;
}

p.event-text{
  padding-left: 1rem;
}

.event-sidebar {
    padding: 10px 20px;
    color:#fff;
}



/* miguel */



.date{
  background-color: rgb(242, 102, 48);
  height: 5rem;
  font-weight: bold;
}

/*.card{
  background-color: rgba(5,5,5,.4) !important;
}*/

.section-events {
  background-image: url("../img/itusi-trail_PC-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  padding-bottom: 15em;
}
#section-events .card h5, .date h4, .date p {
  font-weight: 600;
}

#section-events .card h5{
  font-size: 1.4rem;
}

/* /miguel */




/* BLOG POSTS
******************************************************************************/


.entry-footer { float: none; clear: both; padding-top: 20px; }
.edit-link { display: block; padding-top: 20px; }






/* FOOTER
******************************************************************************/

.wrapper-footer {
    font-weight: 400;
}
.wrapper-footer a {
    text-decoration: none !important;
    background-color: transparent !important;
}
.wrapper-footer a:hover {
    text-decoration: underline;
}



.footer-email-signup {
    border-top: 4px solid #6d9f71;
    background-color: #fff;
    color: #000;
    padding: 12px;
}






ul.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.footer-menu li {
    float: left;
    margin-right: 20px;
}
li.footer-menu-item-header { font-weight: 400; }
li.footer-menu-item { line-height: 1.35rem; margin-top: 6px;}












.wrapper-footer ul.share_links {
    list-style: none;
    padding-left: 0;
    display: block;
    clear: both;
}
.wrapper-footer ul.share_links li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 1rem !important;
    font-size: 1.0rem;
    /*color: rgb(242, 102, 48);*/
}
.wrapper-footer ul.share_links li a {
    color: #f26630 !important;
}
.wrapper-footer ul.share_links li i { font-size: 180%; }



.colophon{
  font-size: 0.9rem;
}

























/* the last of the code segments from miguel's CSS - need to incorporate / merge / delete */

.nav-link{
  color: white !important;
}

.data {
  background-color: #005a30;

}



.data h1 {
  font-weight: 600;
  font-size: 4rem;
}

.white-line {
  height: 2px;
  width: 90%;
  background-color: #fff;
}

.green-line {
  height: 5px;
  width: 100%;
  background-color: #8dc63f;
}

.dark-green-line {
  height: 5px;
  width: 100%;
  background-color: #347458;
}

.data h1.xl {
  font-weight: 600;
  font-size: 4rem;
}

.data h4 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: -2.2vh auto 2vh auto;
}

.data div.xl {
  display: none;
}

.data div.normal {
  display: block;
}



@media (max-width: 576px) {
  .data h1, .data h1.xl {
    font-size: 3rem;
    line-height: 1.5rem;
  }

  .data h4 {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin: -1.6vh auto 5vh auto;
  }

  .date h4{
    font-size:1.2rem;
  }

  .date p{
    font-size: 0.8rem;
  }

  .adress{
    font-size: 0.9rem;
  }

  .data div.normal {
    display: block;
  }
}

@media (min-width: 1200px) {
  .data div.xl {
    display: block;
  }

  .data div.normal {
    display: none;
  }
}

/* /miguel */











/* the last of the code segments from mary nell's CSS - need to incorporate / merge / delete */

.thin-td{
  width: 45%;
}

.thick-td{
  width: 55%;
}





.card-two {
  background-color: rgba(0, 0, 0, 0.3);
}

.news .carousel-item .card-two {
  margin-left: 27.5%;
}

.card-two p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}







.imgcont {
  position: absolute;
  top: 0;
  z-index: -1;
  padding: 0;
}

.card-one {
  position: absolute !important;
  top: 65%;
  z-index: 1;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgba(32, 32, 32, .5);
  color: #fff;
  font-size: 1.2rem;

}

.card-one h5 {
  font-weight: 600;
  font-size: 1.6rem
}


.card-one h5 {
  font-weight: 600;
  font-size: 1.5rem;
}

.card-body{
  /*padding-bottom: 5em;*/ /*not sure why - messing up trail page*/
}

.pics {
  height: 100%;
  overflow: hidden;
  max-height: 45rem;
}



.img-c {
  display: block;
  min-width: 100vw;
  overflow: hidden;
}



li.available {
  list-style-type: disc;
  font-size: 2.2rem;
  line-height: 1.2rem;
  color: rgb(40, 167, 68);
  padding: 0 1vw 0 1vw;
}

li.questionable {
  list-style-type: disc;
  font-size: 2.2rem;
  line-height: 1.1rem;
  color: rgb(255, 193, 5);
  padding: 0 1vw 0 1vw;
}

li.unavailable {
  list-style-type: disc;
  font-size: 2.2rem;
  line-height: 1.1rem;
  color: rgb(220, 53, 69);
  padding: 0 1vw 0 1vw;
}



.time-info {
  position: relative;
  left: -1vh;
  top: -0.8vh;
  color: rgb(141, 141, 141);
  font-size: 1rem;
  line-height: 1.1rem;
}

.link-icon {
  display: inline;
}

.participate {
  background-image: url('../img/bg-texture.jpg'), linear-gradient(rgb(37, 37, 37), rgb(25, 25, 25))
}

.participate h4 {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
}

.participate p {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  text-align: center;
  padding: 0.4rem;
}

.participate button {
  margin-bottom: 1rem;
}

.carousel-inner.header>.item {
  /*disables white flash*/
  -webkit-transition: -webkit-transform .4s ease-in-out;
  -o-transition: -o-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel-inner.header {
  /*just incase the flash (style above) comes back*/
  background: rgb(37, 37, 37);
}

.extra-news {
  display: flex;
}

.small-news {
  display: none;
}

.small-nav {
  display: none;
}

.section-event-card{
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5em;
}

@media (min-width: 992px) {
  .phone-slider, .tablet-slider {
    display: none;
  }
}

@media (max-width: 991px) {
  .tarheelnav {
    background-color: rgb(37, 37, 37);
  }

  .small-nav {
    display: flex;
  }

  .small-news {
    display: block;
  }

  .imgcont {
    position: inherit;
    z-index: inherit;
  }






  .carousel-item.pic1 {
    background-image: url(../img/hero_bike_one.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
  }

  .carousel-item.pic2 {
    background-image: url(../img/hero_bike_two.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
  }

  .carousel-item.pic3 {
    background-image: url(../img/hero_work_one.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    display: flex;
    align-items: center;
  }

  .img-c {
    object-fit: cover;
    min-height: 32em;
  }




  .extra {
    display: none;
  }

  .tablet-slider {
    display: block;
  }

  .tablet-slider li {
    position: relative;
    left: 12vw;
  }

  .phone-slider li {
    position: relative;
    left: 12vw;
  }

  .carousel-inner.header>.item {
    /*disables white flash*/
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }


  .small-news .carousel-item {
    width: 100%;
  }




}

@media (max-width:482px) {
  .tablet-slider {
    display: none;
  }

  .phone-slider {
    display: block;
  }


}

@media (max-width: 991px) {
  .card-two {

    font-size: 0.8rem;
  }
  .card-one{
    top: 25%;
  }
}

@media (min-width:483px) {
  .phone-slider {
    display: none;
  }
}



/* / mary nell */



/* TRIBE EVENTS */

.single-tribe_events .tribe-events-event-meta {
    background-color: transparent !important;
}
